.standar-form {
  .form-group {
    margin-bottom: 10px !important;
    label {
      font-weight: bold;
      font-size: 12px;
    }

    input,
    textarea {
      border: none;
      background: white;
      border: 1px solid #eeeeee !important;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;

      &::placeholder {
        color: #cdcdcd !important;
        letter-spacing: 0.6px;
      }
    }

    .form-control {
      &:focus {
        border-color: #0d6efd;
        box-shadow: none;
      }
    }

    .form-nominal {
      display: flex;
      flex-wrap: wrap;
      .nominal-wrapper {
        flex-grow: 1;
        width: 50%;
        padding: 4px;
        cursor: pointer;
        background: none !important;
        margin-bottom: 2px;

        .nominal {
          display: block;
          position: relative;
          margin: 0 auto;
          border: 1px solid #eee;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
          font-weight: bold !important;
          font-size: 12px;
          background-color: rgba($color: #cbffc6, $alpha: 0.3);
          color: #20D2A6;
          cursor: pointer;
          border-radius: 25px;
        }
      }
    }
  }

  .is-picked {
    .nominal {
      color: #fff;
      transition: all 0.5s;
      background-color: #fff !important;
      border: 1px solid rgba($color: #20D2A6, $alpha: 0.5) !important;
    }
  }
}

  
.special-title {
  display: inline-block;
  font-size: 15px;
  margin: 0px;
  left: -15px;
  background: #20D2A6;
  padding: 3px 0px 3px 15px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  width: 250px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.btn-cta{
  border-radius: 25px !important;
}

.wrapper-container {
  background: #f8f8f8 !important;
  min-height: 100vh !important;
}
.container {
  padding: 0px 10px !important;
}

.main-content {
  padding: 10px;
}

.informasi-masjid {
  padding: 10px 0px;
  .nama {
    font-size: 24px;
    padding: 5px 0px;
  }

  .alamat {
    font-size: 14px;
  }
}

.btn-tampil {
  border: 1px solid #20D2A6;
  border-radius: 5px !important;
  font-weight: normal !important;
  color: #20D2A6 !important;
  padding: 5px 15px;
  font-size: 12px;
  width: 100%;
}

.amil {
  position: relative;
  margin: 0 auto;
  display: block;
  height: 170px;
}

.disclaimer {
  font-size: 11px;
  line-height: 15px;
  padding: 5px 0px;
  text-align: center;
  p {
    background: rgb(255, 224, 167);
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    padding: 5px;
  }

  .bold {
    font-weight: bold;
    color: rgb(51, 150, 21);
  }
}

.registeredon {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100px;
    margin: 10px;
  }
}

.struk{
  &-title{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      display: block;
      line-height: 14px !important;
      margin: 0px;
      padding: 0px;
      font-size: 11px;
    }
  }
  &-image{
    text-align: center;
    img{
      height: 30px;
    }
  }
}

.notes{
  font-size:11px;
}

.bg-green{
  background: transparent linear-gradient(180deg,#20D2A6,#145423) 0 0 no-repeat padding-box;
}

.title-program{
  text-align: center;
  p,h4{
    padding: 0px;
    margin: 0px;
  }
  p{
    font-size: 12px;
  }

  h4{
    font-size:17px;
    padding: 10px 0px;
    color: #20D2A6;
    font-weight: bold;
  }
}

.qr {
  img {
    width: 100% !important;
  }
}