.box-nominal-dana-terkumpul {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  h5 {
    font-size: 18px;
  }

  h3 {
    font-size: 31px;
    font-weight: bold;
  }
}

.box-detail-information {
  p {
    margin: 0px;
    padding: 0px;
    padding: 10px;
    font-size: 17px;
  }
}

.bg-gray {
  background-color: #f4f4f4;
}
