.standar-form {
  .special-label {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0px;
  }
  .nominal-label {
    background: #f4f4f4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 20px;
    text-align: center;

    p,
    h3 {
      font-weight: bold;
      margin: 0px;
      padding: 3px;
    }

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 25px;
    }
  }

  .form-group {
    label {
      font-weight: bold;
      font-size: 12px;
    }

    input,
    textarea {
      border: none;
      background: white;
      border-radius: 0px !important;
      border-bottom: 1px solid #eeeeee !important;
      padding: 5px 0px;
      font-size: 16px;

      &::placeholder {
        color: #cdcdcd !important;
        letter-spacing: 0.6px;
      }
    }

    .form-control {
      &:focus {
        border-color: #0d6efd;
        box-shadow: none;
      }
    }

    .form-nominal {
      display: flex;
      flex-wrap: wrap;
      .nominal-wrapper {
        flex-grow: 1;
        width: 50%;
        padding: 5px;
        cursor: pointer;

        .nominal {
          display: block;
          position: relative;
          margin: 0 auto;
          border: 1px solid #cdcdcd;
          padding: 10px;
          width: 90%;
          border-radius: 19px;
          text-align: center;
          font-weight: bold;

          @media screen and (max-width: 374px) {
            font-size: 11px;
          }
        }
      }
    }
  }
}
